.Asie{font-family:courier;
    color: #ff6600;
font-size:40px;
text-align:center;
text-shadow: 2px 2px 4px #b34700;}

.Europe{font-family:courier;
    color: #ff4d4d;
font-size:40px;
text-align:center;
text-shadow: 2px 2px 4px #990000;}
.Afrique{font-family:courier;
    color: #ff8c1a;
font-size:40px;
text-align:center;
text-shadow: 2px 2px 4px  #cc6600;}
.Australie{
    font-family:courier;
    color: #c44dff;
font-size:40px;
text-align:center;
text-shadow: 2px 2px 4px  #7700b3;}
}

.Amerique{
    font-family:courier;
    color: #29a3a3;
font-size:40px;
text-align:center;
text-shadow: 2px 2px 4px #adebeb ;}


